/* Both text areas from left screen. */

.infobar-location, .infobar-direction {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
}

.infobar-location {
    top: 0;
    right: 0;
    height: 13%;
    width: 70%;
}

.infobar-direction {
    bottom: 0;
    left: 0;
    height: 15%;
    width: 100%;
}

.position {
    width: 7%;
}