@import "characters.css";
@import "left_screen.css";
@import "normalize.css";
@import "textbox_right_screen.css";
@import "ui_right_screen.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* All text areas resized via JavaScript. */
.text-big {
    font-size: 26px;
}
.text-small {
    font-size: 24px;
}
.text-medium {
    font-size: 22px;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-text-size-adjust: none;
}

span {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.container {
    position: relative;
    padding: 15px;
    width: 100%;
    max-width: min(100%, 1300px);
    min-width: 300px;
    display: flex;
    gap: 10px;
}

.upper-screen, .lower-screen {
    width: 50%;
    aspect-ratio: 256 / 192;
    position: relative;
    box-sizing: content-box;
    border: 2px solid #4c3636;
    overflow: clip;
}

.bg-img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-right: -1px;
}

#directions, .sound-controls, .footprint {
    z-index: 5;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: space-around;
        max-width: min(100%, 600px);
    }
    .upper-screen, .lower-screen {
        width: auto;
    }
}

.visible {
    animation: arrow-animation 0.75s alternate-reverse infinite;
    pointer-events: auto !important;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}











